<form action="/login" method="post">
  <label>Username:</label>
  <input type="text" name="username" value="<%= params[:username] %>"
         placeholder="Username" id="username">
  <label for="password">Password:</label>
  <input type="password" name="password" placeholder="Password" id="password">
  <button type="submit" value="login">Login</button>
  <button type="submit" name="signup">Signup</button>
</form>